{% extends 'homepage.html' %}
{% load static %}
{% block content %}
<section class="portfolio-block block-intro" style="margin-top: 0px;">
            <div class="container-fluid" style="background: var(--bs-white);">
                <div class="row justify-content-center align-items-center mb-3" style="box-shadow: 0px 0px 0px 0px;">
                    <div class="col-lg-8" style="margin: 45px;">
                        <div class="row">
                            <div class="col" style="padding-right: 0px;margin-right: 0px;margin-left: 0px;">
                                <div class="card border-dark shadow mb-3" style="border-radius: 15px;box-shadow: 0px 0px 0px;">
                                    <div class="card-body" style="background: #ffffff;border-bottom-right-radius: 15px;border-bottom-left-radius: 15px;margin: -1px;border-top-left-radius: 15px;border-top-right-radius: 15px;box-shadow: 2px 2px 5px -1px;">
                                        <form style="opacity: 1;transform: scale(1);background: #ffffff;box-shadow: 0px 0px;padding-bottom: 33px;" method="POST" >
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="username" style="color: rgb(18,35,46);"><strong>JEE RANK *</strong><br></label><input class="form-control" type="number" min="0" id="username" placeholder="Rank" name="rank" style="background: #ffffff;" required></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="username" style="color: rgb(18,35,46);"><strong>Gender *</strong><br></label><select class="form-select" name="gender" required>
                                                                    <option disabled selected value >-- Select Gender -- </option>
                                                                <option value="F" >Female</option>
                                                                <option value="M">Male</option>

                                                        </select></div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="username" style="color: rgb(18,35,46);"><strong>Caste *</strong><br></label><select class="form-select" name="caste" required>

                                                        <option disabled selected value>-- Select Caste --</option>
                                                        <option value="General">General</option>
                                                        <option value="EWS">EWS</option>
                                                        <option value="OBC-NCL">OBC-NCL</option>
                                                        <option value="General (PwD)">General (PwD)</option>
                                                        <option value="OBC-NCL (PwD)">OBC-NCL (PwD)</option>
                                                        <option value="SC (PwD)">SC (PwD)</option>
                                                        <option value="ST (PwD)">ST (PwD)</option>
                                                        <option value="SC">SC</option>
                                                        <option value="ST">ST</option>
                                                        </select></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="username" style="color: rgb(18,35,46);">
                                                    <strong>Branch</strong><br></label><select class="form-select" name="branch" >
                                                    <option value="None">None</option>
                                                    <option value="Civil Engineering (4 Years of Bachelor of Technology)">Civil Engineering (4 Years of Bachelor of Technology)</option>
                                                    <option value="Civil Engineering and M. Tech. in Structural Engineering (5 Years of Bachelor and Master of Technology (Dual Degree))">Civil Engineering and M. Tech. in Structural Engineering (5 Years of Bachelor and Master of Technology (Dual Degree))</option>
                                                    <option value="Civil Engineering and M.Tech in Transportation Engineering (5 Years of Bachelor and Master of Technology (Dual Degree))">Civil Engineering and M.Tech in Transportation Engineering (5 Years of Bachelor and Master of Technology (Dual Degree))</option>
                                                    <option value="Civil Engineering and M.Tech. in Environmental Engineering (5 Years of Bachelor and Master of Technology (Dual Degree))">Civil Engineering and M.Tech. in Environmental Engineering (5 Years of Bachelor and Master of Technology (Dual Degree))</option>
                                                    <option value="Computer Science and Engineering (4 Years of Bachelor of Technology)">Computer Science and Engineering (4 Years of Bachelor of Technology)</option>
                                                    <option value="Computer Science and Engineering (5 Years of Bachelor and Master of Technology (Dual Degree))">Computer Science and Engineering (5 Years of Bachelor and Master of Technology (Dual Degree))</option>
                                                    <option value="Electrical Engineering and M.Tech Power Electronics and Drives (5 Years of Bachelor and Master of Technology (Dual Degree))">Electrical Engineering and M.Tech Power Electronics and Drives (5 Years of Bachelor and Master of Technology (Dual Degree))</option>
                                                    <option value="Electrical Engineering (4 Years of Bachelor of Technology)">Electrical Engineering (4 Years of Bachelor of Technology)</option>
                                                    <option value="Electronics and Communication Engineering (4 Years of Bachelor of Technology)">Electronics and Communication Engineering (4 Years of Bachelor of Technology)</option>
                                                    <option value="Mechanical Engineering (4 Years of Bachelor of Technology)">Mechanical Engineering (4 Years of Bachelor of Technology)</option>
                                                    <option value="Mechanical Engineering and M. Tech. in Mechanical System Design (5 Years of Bachelor and Master of Technology (Dual Degree))">Mechanical Engineering and M. Tech. in Mechanical System Design (5 Years of Bachelor and Master of Technology (Dual Degree))</option>
                                                    <option value="Metallurgical and Materials Engineering (4 Years of Bachelor of Technology)">Metallurgical and Materials Engineering (4 Years of Bachelor of Technology)</option>
                                                    <option value="Metallurgical and Materials Engineering (5 Years of Bachelor and Master of Technology (Dual Degree))">Metallurgical and Materials Engineering (5 Years of Bachelor and Master of Technology (Dual Degree))</option>
                                                    <option value="Aerospace Engineering (4 Years of Bachelor of Technology)">Aerospace Engineering (4 Years of Bachelor of Technology)</option>
                                                    <option value="BS in Mathematics (4 Years of Bachelor of Science)">BS in Mathematics (4 Years of Bachelor of Science)</option>
                                                    <option value="Chemical Engineering (4 Years of Bachelor of Technology)">Chemical Engineering (4 Years of Bachelor of Technology)</option>
                                                    <option value="Chemistry (4 Years of Bachelor of Science)">Chemistry (4 Years of Bachelor of Science)</option>
                                                    <option value="Economics (4 Years of Bachelor of Science)">Economics (4 Years of Bachelor of Science)</option>
                                                    <option value="Energy Engineering (4 Years of Bachelor of Technology)">Energy Engineering (4 Years of Bachelor of Technology)</option>
                                                    <option value="Engineering Physics (4 Years of Bachelor of Technology)">Engineering Physics (4 Years of Bachelor of Technology)</option>
                                                    <option value="Environmental Science and Engineering (4 Years of Bachelor of Technology)">Environmental Science and Engineering (4 Years of Bachelor of Technology)</option>
                                                    <option value="Metallurgical Engineering and Materials Science (4 Years of Bachelor of Technology)">Metallurgical Engineering and Materials Science (4 Years of Bachelor of Technology)</option>
                                                    <option value="B.Tech in General Engineering (4 Years of Bachelor of Technology)">B.Tech in General Engineering (4 Years of Bachelor of Technology)</option>
                                                    <option value="B.Tech in Materials Science and Engineering (4 Years of Bachelor of Technology)">B.Tech in Materials Science and Engineering (4 Years of Bachelor of Technology)</option>
                                                    <option value="B.Tech in Mathematics and Computing (4 Years of Bachelor of Technology)">B.Tech in Mathematics and Computing (4 Years of Bachelor of Technology)</option>
                                                    <option value="B.Tech in Microelectronics & VLSI (4 Years of Bachelor of Technology)">B.Tech in Microelectronics & VLSI (4 Years of Bachelor of Technology)</option>
                                                    <option value="Bio Engineering (4 Years of Bachelor of Technology)">Bio Engineering (4 Years of Bachelor of Technology)</option>
                                                    <option value="BS in Chemical Sciences (4 Years of Bachelor of Science)">BS in Chemical Sciences (4 Years of Bachelor of Science)</option>
                                                    <option value="Data Science and Engineering (4 Years of Bachelor of Technology)">Data Science and Engineering (4 Years of Bachelor of Technology)</option>
                                                    <option value="Biotechnology and Biochemical Engineering (4 Years of Bachelor of Technology)">Biotechnology and Biochemical Engineering (4 Years of Bachelor of Technology)</option>
                                                    <option value="Electrical Engineering (Power and Automation) (4 Years of Bachelor of Technology)">Electrical Engineering (Power and Automation) (4 Years of Bachelor of Technology)</option>
                                                    <option value="Engineering and Computational Mechanics (4 Years of Bachelor of Technology)">Engineering and Computational Mechanics (4 Years of Bachelor of Technology)</option>
                                                    <option value="Materials Engineering (4 Years of Bachelor of Technology)">Materials Engineering (4 Years of Bachelor of Technology)</option>
                                                    <option value="Mathematics and Computing (4 Years of Bachelor of Technology)">Mathematics and Computing (4 Years of Bachelor of Technology)</option>
                                                    <option value="Mathematics and Computing (5 Years of Bachelor and Master of Technology (Dual Degree))">Mathematics and Computing (5 Years of Bachelor and Master of Technology (Dual Degree))</option>
                                                    <option value="Production and Industrial Engineering (4 Years of Bachelor of Technology)">Production and Industrial Engineering (4 Years of Bachelor of Technology)</option>
                                                    <option value="Textile Technology (4 Years of Bachelor of Technology)">Textile Technology (4 Years of Bachelor of Technology)</option>
                                                    <option value="Agricultural and Food Engineering (4 Years of Bachelor of Technology)">Agricultural and Food Engineering (4 Years of Bachelor of Technology)</option>
                                                    <option value="Agricultural and Food Engineering with M.Tech. in any of the listed specializations (5 Years of Bachelor and Master of Technology (Dual Degree))">Agricultural and Food Engineering with M.Tech. in any of the listed specializations (5 Years of Bachelor and Master of Technology (Dual Degree))</option>
                                                    <option value="Applied Geology (4 Years of Bachelor of Science)">Applied Geology (4 Years of Bachelor of Science)</option>
                                                    <option value="Architecture (5 Years of Bachelor of Architecture)">Architecture (5 Years of Bachelor of Architecture)</option>
                                                    <option value="Biotechnology and Biochemical Engineering (5 Years of Bachelor and Master of Technology (Dual Degree))">Biotechnology and Biochemical Engineering (5 Years of Bachelor and Master of Technology (Dual Degree))</option>
                                                    <option value="Electronics and Electrical Communication Engineering with M.Tech. in any of the listed specializations (5 Years of Bachelor and Master of Technology (Dual Degree))">Electronics and Electrical Communication Engineering with M.Tech. in any of the listed specializations (5 Years of Bachelor and Master of Technology (Dual Degree))</option>
                                                    <option value="Exploration Geophysics (4 Years of Bachelor of Science)">Exploration Geophysics (4 Years of Bachelor of Science)</option>
                                                    <option value="Industrial and Systems Engineering (4 Years of Bachelor of Technology)">Industrial and Systems Engineering (4 Years of Bachelor of Technology)</option>
                                                    <option value="Industrial and Systems Engineering with M.Tech. in Industrial and Systems Engineering and Management (5 Years of Bachelor and Master of Technology (Dual Degree))">Industrial and Systems Engineering with M.Tech. in Industrial and Systems Engineering and Management (5 Years of Bachelor and Master of Technology (Dual Degree))</option>
                                                    <option value="Instrumentation Engineering (4 Years of Bachelor of Technology)">Instrumentation Engineering (4 Years of Bachelor of Technology)</option>
                                                    <option value="Manufacturing Science and Engineering (4 Years of Bachelor of Technology)">Manufacturing Science and Engineering (4 Years of Bachelor of Technology)</option>
                                                    <option value="Manufacturing Science and Engineering with M.Tech. in Industrial and Systems Engineering and Management (5 Years of Bachelor and Master of Technology (Dual Degree))">Manufacturing Science and Engineering with M.Tech. in Industrial and Systems Engineering and Management (5 Years of Bachelor and Master of Technology (Dual Degree))</option>
                                                    <option value="Mining Engineering (4 Years of Bachelor of Technology)">Mining Engineering (4 Years of Bachelor of Technology)</option>
                                                    <option value="Mining Engineering (5 Years of Bachelor and Master of Technology (Dual Degree))">Mining Engineering (5 Years of Bachelor and Master of Technology (Dual Degree))</option>
                                                    <option value="Mining Safety Engineering (5 Years of Bachelor and Master of Technology (Dual Degree))">Mining Safety Engineering (5 Years of Bachelor and Master of Technology (Dual Degree))</option>
                                                    <option value="Ocean Engineering and Naval Architecture (4 Years of Bachelor of Technology)">Ocean Engineering and Naval Architecture (4 Years of Bachelor of Technology)</option>
                                                    <option value="Ocean Engineering and Naval Architecture (5 Years of Bachelor and Master of Technology (Dual Degree))">Ocean Engineering and Naval Architecture (5 Years of Bachelor and Master of Technology (Dual Degree))</option>
                                                    <option value="Physics (4 Years of Bachelor of Science)">Physics (4 Years of Bachelor of Science)</option>
                                                    <option value="Artificial Intelligence (4 Years of Bachelor of Technology)">Artificial Intelligence (4 Years of Bachelor of Technology)</option>
                                                    <option value="Biomedical Engineering (4 Years of Bachelor of Technology)">Biomedical Engineering (4 Years of Bachelor of Technology)</option>
                                                    <option value="Biotechnology and Bioinformatics (4 Years of Bachelor of Technology)">Biotechnology and Bioinformatics (4 Years of Bachelor of Technology)</option>
                                                        </select></div>
                                                </div>
                                            </div>
                                            <div class="mb-3" style="margin-top: 20px;margin-bottom: 0px;"><button class="btn btn-primary btn-sm" type="submit">SUBMIT</button></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        {% endblock content %}